.t-j {
  text-align: justify;
}

.icon {
  font-size: 20px;
  font-weight: bold;
}

.c-r {
  color: red;
}

.c-g {
  color: green;
}

.c-b {
  color: lightskyblue
}

@media screen and (min-width: 600px) {
  .container-width {
    width: 650px;
  }
}